<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>GKSA</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<% include layout/profile_header %>
<div class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Account information</h3>
        
          <p>
            <strong>id</strong>: <%= user._id %><br>
            <strong>email</strong>: <%= user.local.email %><br>
            <strong>group</strong>: <%= user.local.group %><br>
            <strong>created</strong>: <%= user.local.created %><br>
            <strong>First name</strong>: <%= user.local.username.first %><br>
            <strong>Last Name</strong>: <%= user.local.username.last %><br>
          </p>

      </div>
    </div>

  </div>

</div>
</body>
</html>