<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testers</title>
  <script src= "../../vendor/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src= "../../vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <% include layout/header %>
  <div class="container">
    <table class="table-hover table">
      <tr>
        <th>TesterId</th>
        <th>Username</th>
      </tr>

      <% for(var i=0;i<testers.length;i++) { %>
      <% if(testers[i].user===null) {%>
        <%testers[i].user={};%>
      <%}%>
        <tr>
          <td><a href="/<%=path.split('/')[1]%>/tester/<%=testers[i]._id%>"><%= testers[i].name%> </a></td>
          <%if(testers[i].user.local.username.first) {%>
            <td><%= testers[i].user.local.username.first%> <%= testers[i].user.local.username.last%></td>
          <%} else {%>
              <td></td>
          <%}%> 
        </tr>
      <%}%>
    </table>
  </div>
</body>
</html>