<% var route = path.split('/')[1]%>
<header>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <% if(user.local.group==='root') { %>
        <li class= 'dropdown'>
          <a href="dropdown-toogle" data-toggle="dropdown">Region   <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href="/cis/main">CIS</a></li>
            <li><a href="/eu/main">EU</a></li>
            <li><a href="/global/main">Sandbox</a></li>
          </ul>
        </li>
        <% } %>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown">Applications <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/<%=route%>/main">Main</a></li>
            <li><a href="/<%=route%>/rejected#/inwork">In work</a></li>
            <li><a href="/<%=route%>/approved#/approved">Approved</a></li>
            <li><a href="/<%=route%>/outdated#/outdated">Outdated</a></li>
            <li><a href="/<%=route%>/notReviewed#/notReviewed">Not Reviewed</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown">Calendar <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/<%=route%>/rejected#/calendar">In work</a></li>
            <li><a href="/<%=route%>/approved#/calendar">Approved</a></li>
          </ul>
        </li>
        <li><a href="/<%=route%>/tester">KPI</a></li>
        <li><a href="/<%=route%>/main#/testList">Test Cycle</a></li>
        <li><a href="/<%=route%>/postmail">Post Mail</a></li>
        <% if(user.local.group==='root') { %>
        <li class= 'dropdown'>
          <a href="dropdown-toogle" data-toggle="dropdown">Tools   <b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href="/tools/users">Users</a></li>
            <li><a href="/tools/testers">Testers</a></li>
          </ul>
        </li>
        <% } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a class="navbar-brand" href="/profile">
        <%=' '+ user.local.group %><br></a></li>
        <li class='active'> <a href="/profile"><%= user.local.username.first+ ' '+user.local.username.last %></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>