<% var route = path.split('/')[1]
   var date = path.split('/')[3]
%>


<header>
  <nav class="navbar navbar-default" role = "navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- Back -->
          <li><a href="/<%=route%>/main">Back to workspace</a></li>
          <%# 'Workspace menu show up only for root user' %>
          <% if (user.local.group === 'root') { %>
            <li class= 'dropdown'>
            <a href="dropdown-toggle" data-toggle='dropdown'> Region <b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><a href="/cis/history/<%=date%>/main">CIS</a></li>
              <li><a href="/eu/history/<%=date%>/main">EU</a></li>
              <li><a href="/global/history/<%=date%>/main">Sandbox</a></li>
              <li><a href="/sia/history/<%=date%>/main">SIA</a></li>
            </ul>
            </li>
          <% } %>
          <!-- Application -->
          <li class = 'dropdown'>
            <a href="dropdow-toggle" data-toggle = 'dropdown'> Application <b class= 'caret'></b></a>
            <ul class="dropdown-menu">
              <li><a href="/<%=route%>/history/<%=date%>/main">Main</a></li>
              <li><a href="/<%=route%>/history/<%=date%>/rejected#/inwork">In work</a></li>
              <li><a href="/<%=route%>/history/<%=date%>/approved#/approved">Approved</a></li>
              <li><a href="/<%=route%>/history/<%=date%>/outdated#/outdated">Outdated</a></li>
              <li><a href="/<%=route%>/history/<%=date%>/notReviewed#/notReviewed">Not Reviewed</a></li>
            </ul>
          </li>
          <!-- Calendar -->
          <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown">Calendar <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/<%=route%>/history/<%=date%>/rejected#/calendar">In work</a></li>
              <li><a href="/<%=route%>/history/<%=date%>/approved#/calendar">Approved</a></li>
              <li><a href="/<%=route%>/history/<%=date%>/outdated#/calendar">Outdated</a></li>
            </ul>
          </li>
          <!-- Datepicker dropdown -->
          <!-- KPI -->
          <li><a href="/<%=route%>/history/<%=date%>/tester">KPI</a></li>
          <li  ><a  class="popover-datepicker" data-toggle ='popover' >Change</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" href="/profile" >
          <%=' '+ user.local.group %><br></a></li>
          <li class='active'> <a href="/profile"><%= user.local.username.first+ ' '+user.local.username.last %></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
