<header>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

  <% var date = new Date();
     var currentYear = date.getFullYear() %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">

  <% if(user.local.group==='root') { %>
        <li class= 'dropdown'>
          <a href="dropdown-toogle" data-toggle="dropdown">Region<b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href="/ciseu/<%=currentYear%>/main">CISEU</a></li>
            <li><a href="/cis/<%=currentYear%>/main">CIS</a></li>
            <li><a href="/eu/<%=currentYear%>/main">EU</a></li>
            <li><a href="/global/<%=currentYear%>/main">Sandbox</a></li>
            <li><a href="/sia/<%=currentYear%>/main">SIA</a></li>
          </ul>
        </li>
        <li><a href="/tools/users">Users</a></li>
        <li><a href="/tools/testers">Testers</a></li>
        <li><a href="/tools/sbcmember">Subscribers</a>
        <li><a href="/tools/subscribemember">Subscription</a>
        <li class="dropdown">
          <a href="dropdown-toogle" data-toggle="dropdown">KPI<b class='caret'></b></a>
          <ul class='dropdown-menu'>
            <li><a href="/ciseu/<%=currentYear%>/tester">CISEU</a></li>
            <li><a href="/cis/<%=currentYear%>/tester">CIS</a></li>
            <li><a href="/eu/<%=currentYear%>/tester">EU</a></li>
            <li><a href="/global/<%=currentYear%>/tester">Sandbox</a></li>
            <li><a href="/sia/<%=currentYear%>/tester">SIA</a></li>
          </ul>
        </li>
  <% }  else if(user.local.group==='gkCISEU' || user.local.group==='employerCISEU' ||
  user.local.group==='gkEU' || user.local.group==='employerEU' ||
  user.local.group==='gkCIS' || user.local.group==='employerCIS') { %>
        <li><a href="/ciseu/<%=currentYear%>/main">Workspace</a></li>
        <li><a href="/ciseu/<%=currentYear%>/tester">KPI</a></li>
  <% }  else if(user.local.group==='gkEU' || user.local.group==='employerEU') { %>
        <li><a href="/eu/<%=currentYear%>/main">Workspace</a></li>
        <li><a href="/eu/<%=currentYear%>/tester">KPI</a></li>
  <% } else if(user.local.group==='gkCIS' || user.local.group==='employerCIS') { %>
        <li><a href="/cis/<%=currentYear%>/main">Workspace</a></li>
        <li><a href="/cis/<%=currentYear%>/tester">KPI</a></li>
  <% } else if (user.local.group==='global') { %>
        <li><a href="/global/<%=currentYear%>/main">Workspace</a></li>
        <li><a href="/global/<%=currentYear%>/tester">KPI</a></li>
  <% } else if (user.local.group === 'gkSIA'|| user.local.group === 'employerSIA') { %>
        <li><a href="/sia/<%=currentYear%>/main">Workspace</a></li>
        <li><a href="/sia/<%=currentYear%>/tester">KPI</a></li>
  <% } %>
      <% if(user.local.group === 'gkEU' || user.local.group === 'gkCIS') { %>
        <li><a href="/tools/sbcmember">Subscribers</a>
        <li><a href="/tools/subscribemember">Subscription</a>
      <% } %>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><a class="navbar-brand" href="#">
        <%=' '+ user.local.group %><br></a></li>
        <li class='active'> <a href="/profile"><%= user.local.username.first+ ' '+user.local.username.last %></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
